*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


  body,.wrapper, .content{                          
    display: flex;
    align-items: center;
    justify-content: center;
  }


  body{
    background-image:radial-gradient(ellipse,rgb(4, 85, 214),rgba(173, 211, 50, 0.673),rgba(126, 82, 230, 0.737));
  }



  .wrapper{
    width: auto;
    margin:auto;
    padding: 30px 30px 38px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgb(49, 158, 216);
  }
  
  .wrapper h1{
    font-size: 24px;
    font-weight:900;
    margin: 15px 0;
  }
  .wrapper .content{
    width: auto;
    justify-content: space-between;
    
  }

  .content .column{
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    width: calc(100% / 3 - 1px);
  }


  .column select{
    width: 110%;
    height: 5vh;
    background: none;
    outline: none;
    border:none;
    font-size: 10px;
  }
  .wrapper button{
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 50px;
    background: #047ef1db;
    transition: 0.5s ease;
  }
  button:hover{
    opacity: 0.9;
    color: rgb(0, 0, 0);
  }

  #clockContainer {
    position: relative;
    margin: auto;
    height: 32.5vw;
    /*to make the height and width responsive*/
    width: 63vw;
    background: url("./image/alarmclock.png") no-repeat;
    /*setting our background image*/
    background-size: 50%;
  }
  
  #hour,
  #minute,
  #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
  }
  
  #hour {
    width: 1.8%;
    height: 21%;
    top: 36%;
    left: 23.85%;
    opacity: 0.8;
  }
  
  #minute {
    width: 1.6%;
    height: 27%;
    top: 28%;
    left: 24.9%;
    opacity: 0.8;
  }
  
  #second {
    width: 1%;
    height: 27%;
    top: 28%;
    left: 24.25%;
    opacity: 0.8;
  }
  
  #headclock{
    font-size: 50px;
    position: absolute;
    /* height: 20%; */
    left: 55%;
    bottom:10%;
    color: rgb(96, 206, 231);
   
  }


  footer{
    position: absolute;
    bottom:0%;
  }
  /* to make responsive  */
  /* @media (width<450px) {
    .wrapper{
        margin: 5% 20%;
      }
  }
  @media (height<717px) {
    .wrapper{
        margin: 5% 20%;
    }
  } */