*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }


  body,.wrapper, .content{                          
    display: flex;
    align-items: center;
    justify-content: center;
  }


  body{
    background-image:radial-gradient(ellipse,rgb(4, 85, 214),rgba(173, 211, 50, 0.673),rgba(126, 82, 230, 0.737));
    /* background-image: url("./image/alarmclock.jpg");
    background-repeat: no-repeat; */
  }


  .wrapper{
    width: auto;
    padding: 28px 17px 20px;
    background: white;
    border-radius: 50px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgb(49, 158, 216);
  }
  
  .wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
  }
  .wrapper .content{
    width: 100%;
    justify-content: space-between;
    
  }

  .content .column{
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    width: calc(100% / 3 - 5px);
  }

  .column select{
    width: 110%;
    height: 50px;
    border:none;
    outline: none;
    background: none;
    font-size: 14px;
  }
  .wrapper button{
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 17px 0;
    margin-top: 20px;
    border-radius: 50px;
    background: #047ef1db;
    transition: 0.5s ease;
  }
  button:hover{
    opacity: 0.9;
    color: rgb(0, 0, 0);
  }






#clockContainer {
  position: relative;
  margin: auto;
  height: 20vw;
  /*to make the height and width responsive*/
  width: 20vw;
  background: url("") no-repeat;
  /*setting our background image*/
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}




/* footer design */
footer{
  position:absolute;
  bottom:0%;
  width:100%;
  margin:0% 0% 0%
}
footer{
  background: radial-gradient(rgba(0, 0, 0, 0.393),rgba(138, 151, 77, 0.437));
  color: rgba(18, 19, 17, 0.347);
  height:2.8%;
  text-align: center;
  padding:1.5px 2px 1px;
  margin: 0px;
}

footer:hover{
  color: rgba(255, 255, 255, 0.692);
}



/* to make responsive  */
@media (width<450px) {
  .wrapper{
      margin: 5% 20%;
    }
}
@media (height<717px) {
  .wrapper{
      margin: 5% 20%;
  }
}